<launch>
   <node pkg="rosserial_python" type="serial_node.py" name="serial_node"
      output="screen">
      <param name="port" value="/dev/ttyUSB0"/>
      <param name="baud" value="57600"/>
   </node>

   <!-- <node name="control_master_calibrate" pkg="hektar" type="master_control_calibrate.py" output="screen" /> -->

   <node name="ir_error_node" pkg="hektar" type="ir_error.py" output="screen" />

   <node name="setpoint_node" pkg="hektar" type="wheel_setpoint.py" output="screen" >
      <param name="threshold" value="560.0" />
   </node>

   <node name="wheel_pid" pkg="pid" type="controller" output="screen" >
      <param name="Kp" value="18.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="1.0" />
      <param name="upper_limit" value="100" />
      <param name="lower_limit" value="-100" />
      <param name="windup_limit" value="0" />
      <param name="cutoff_frequency" value="10" />
      <param name="max_loop_frequency" value="45.0" />
      <param name="min_loop_frequency" value="35.0" />
    </node>

    <node name="wheel_control_output" pkg="hektar" type="wheel_control.py" output="screen" >
      <param name="speed" value="0" />
    </node>

</launch>
